<div class="song-title" [class.hidden]="!song">
  {{ song ? (song.order != 0 ? song.order + '. ' : '') + song.title : ''}}
</div>

<div *ngIf="song && currentSection" [@visibility]="visibilityState" class="slide-content images-cover"
     [class.chords-visible]="chordsVisible">
  <div class="slide-text"
       [ngStyle]="{'font-size': chordsVisible ? null : currentSection.fontSize }"
       [innerHTML]="sectionHtml"
  ></div>
  <div class="slide-chords">{{ currentSection.chords }}</div>
</div>

<mat-progress-bar
  *ngIf="song && currentSection"
  color="primary"
  mode="determinate"
  [value]="song ? 100*(currentSectionIndex+1)/song.sections.length : 0"
  [bufferValue]="bufferValue">
</mat-progress-bar>
