@import "../../../assets/scss/utils";
@import "../../../assets/scss/colors";

:host {
  overflow: hidden;
  position: relative;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-progress-bar {
    opacity: 1;
    height: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .song-title {
    position: absolute;
    top: 0;
    font-size: 25px;
    line-height: 50px;
    left: 0;
    right: 0;
    text-align: center;
    background: $presenter-sidebar-background;
    opacity: 0;
    transition: all .2s ease-in-out;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.75);
    color: $presenter-sidebar-text-color;
  }

  &.pres-mode {
    width: calc(100% - #{$presenter-sidebar-width});
    padding-top: 0;

    .slide-content {
      .slide-text, .slide-chords {
        font-size: calc(0.04 * (100vw - #{$presenter-sidebar-width})) !important;
      }

      &.chords-visible {
        .slide-text, .slide-chords {
          font-size: calc(0.035 * (100vw - #{$presenter-sidebar-width})) !important;
        }
      }
    }

    mat-progress-bar {
      opacity: 1;
    }

    .song-title {
      opacity: 1;

      &.hidden {
        opacity: 0;
      }
    }
  }

  .slide-content {
    display: flex;
    align-items: center;
    align-content: flex-start;
    overflow: hidden;

    .slide-text, .slide-chords {
      white-space: pre;
      font-size: 4.5vw;
      font-family: Calibri, sans-serif;
      font-weight: bold;
      @include transition(all, 200ms ease-in-out);
      @include transition(font-size, 50ms ease-in-out);
    }

    &.chords-visible {
      .slide-text, .slide-chords {
        font-size: 3.5vw;
        width: auto;
        opacity: 1;
      }

      .slide-chords {
        display: block;
      }
    }

    .slide-chords {
      padding-left: 20px;
      margin-left: 20px;
      border-left: #c0c0c0 2px double;
      opacity: 0;
      color: #c0c0c0;
      width: 0;
      overflow: hidden;
      display: none;
    }
  }

}
