<div class="presentation-list" *ngIf="presentation">
  <mat-list>
    <mat-list-item *ngFor="let sg of presentation.slideGroups"

                   [class.active]="currentSlideGroupId && sg.getId() == currentSlideGroupId">
      <div class="d-flex pres-item-content flex-1 align-content-center">
        <div class="image-preview" *ngIf="isImage(sg)">
          <img [src]="getImageUrl(sg)" [alt]="sg.getName()" />
        </div>
        <span
          class="flex-1 d-flex align-content-center align-items-center"
          (click)="setCurrentSlideGroup(sg)"
        >{{ sg.getName() }}</span>

        <button mat-button class="btn-circle add-button"
                [matMenuTriggerFor]="moreOptionsMenu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #moreOptionsMenu="matMenu">
          <button mat-menu-item
                  (click)="editSlideGroup(sg)">
            <mat-icon>mode_edit</mat-icon>
            Edytuj
          </button>
        </mat-menu>
      </div>
    </mat-list-item>
  </mat-list>
</div>
