@import "../../../assets/scss/utils";
@import "../../../assets/scss/colors";

:host {
  color: $night-mode-fg;

  mat-list mat-list-item, .mat-list .mat-list-item {
    color: inherit;
    cursor: pointer;
    position: relative;
    transition: all .2s linear;

    &:hover {
      background: rgba(255, 255, 255, 0.05);
    }
  }

  mat-list-item.active {
    font-weight: bold;
    background: rgba(255, 255, 255, 0.1);
  }

  .pres-item-content {
    position: relative;
    z-index: 1;
  }

  .image-preview {
    flex: 0 0;
    margin-right: 15px;

    img {
      object-fit: contain;
      object-position: center;
      width: 50px;
      height: 100%;
    }
  }
}
