@import "../../../assets/scss/utils";
@import "../../../assets/scss/colors";

.hidden {
  display: none !important;
}

mat-list-item {
  padding: 0 10px;
  background-color: $light-bg;
  @include transition(all, 0.2s ease-in-out);
  cursor: pointer;
}

.songs-list {
  height: calc(100% - 64px);
  overflow-y: auto;

  mat-list-item {
    position: relative;

    &.selected {
      background-color: $primaryColor;
      color: $text-on-primary-bg;
      @include box-shadow(2px, 2px, 5px, #dedede);

      &.pre-select, &:hover {
        color: $text-on-primary-bg;
        background-color: $primaryColor;
      }
    }

    &.pre-select, &:hover {
      background-color: #E6E6E6;
    }
  }
}

mat-form-field {
  width: 100%;
}

.song-search-filter {
  width: 100%;
}

:host {
  position: relative;
  height: 100%;

  $addSongButtonSize: 20px;

  .add-song-button {
    position: absolute;
    right: 15px;
    width: $addSongButtonSize;
    height: $addSongButtonSize;
    top: calc(50% - #{$addSongButtonSize/2});
  }

  .btn-circle {
    padding: 0;
    width: $addSongButtonSize;
    min-width: $addSongButtonSize;
    border: 1px solid transparent;
    border-radius: 50%;
    height: $addSongButtonSize;
    line-height: $addSongButtonSize;
  }
}
