<mat-list class="song-search-filter">
    <mat-list-item>
        <mat-form-field>
            <input matInput type="search" #searchInput
                   [(ngModel)]="filterPhrase"
                   (keyup)="songFilterKeyUp($event)"
                   (keypress)="songFilterKeypress($event)"
                   (focus)="searchInput.setSelectionRange(0, filterPhrase.length)"
                   placeholder="Szukaj..."/>
        </mat-form-field>
    </mat-list-item>
</mat-list>

<mat-list class="songs-list" #songsList>
    <mat-list-item
            *ngFor="let song of songs"
            (click)="setCurrentSong(song);"
            [class.hidden]="searchInput.value && song.title.toLowerCase().indexOf(searchInput.value.toLowerCase()) == -1
                    && song.order.toString().indexOf(searchInput.value.toLowerCase()) == -1"
            [class.selected]="currentSong && currentSong.id == song.id"
            [class.pre-select]="preSelected === song">
        {{ song.order != 0 ? song.order+'. ':'' }}{{ song.title }}
        <button mat-button (click)="addSong.emit(song)" *ngIf="enableAddMode" class="add-song-button btn-circle">
            <mat-icon>queue</mat-icon>
        </button>
    </mat-list-item>
</mat-list>
