<p class="text-center">
    Pliki programu OpenSong powinny zawierać dokument XML
</p>
<p class="text-center">
    <app-file-chooser (fileChosen)="filesChoosen($event)" [multiple]="true">Wybierz pliki do importu</app-file-chooser>
</p>
