<div class="presentation-list">
    <mat-list class="song-search-filter">
        <mat-list-item *ngFor="let p of presentations" (click)="setPresentation.emit(p)">
            {{ p.name }}
        </mat-list-item>
    </mat-list>
</div>

