@import "../../../assets/scss/utils";
@import "../../../assets/scss/colors";

.presentation-list {
  mat-list {
    mat-list-item {
      background: inherit;
      color: inherit;
      cursor: pointer;
      transition: all .2s linear;

      &:hover {
        background: rgba(255, 255, 255, 0.05);
      }
    }
  }
}
