$primaryColor: #2196f3;

$shadow-color: #606060;

$text-on-primary-bg: #fff;

$light-bg: #fff;

$hover-primary-bg: rgba(0, 0, 0, 0.2);



$light-mode-bg: #fff;
$light-mode-fg: #000;

/** Night mode */
$night-mode-bg: #000;
$night-mode-fg: #d0d0d0;


$presenter-sidebar-width: 320px;
$presenter-sidebar-background: #111;
$presenter-sidebar-text-color: #d0d0d0;
