/** Night mode */
/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px; }

/* Track */
::-webkit-scrollbar-track {
  background: #E6E6E6; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2196f3; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #2196f3; }

/*# sourceMappingURL=scrollbar.css.map */
