@import "colors";
@import "utils";

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  //background: rgba(0, 0, 0, 0.1);
  background: #E6E6E6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primaryColor;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: opacify($primaryColor, 0.7);
}
