@import "utils";
@import "colors";

body {
  margin: 0;
  padding: 0;
}

app-root {
  display: block;
  height: 100vh;

  .mat-sidenav-container {
    height: 100vh;
  }

}

.mat-select-value {
  max-width: fit-content;
}

[color="primary"] {
  .mat-select-value {
    color: $text-on-primary-bg;
  }

  .mat-select-trigger {
    color: #fff;
  }

  .mat-select-arrow {
    color: opacify($text-on-primary-bg, 0.5);
  }

  .mat-select-underline {
    background-color: $text-on-primary-bg;
  }

  .mat-select:focus:not(.mat-select-disabled) {

    .mat-select-trigger {
      color: $text-on-primary-bg;
    }

    .mat-select-underline {
      background-color: opacify($text-on-primary-bg, 0.5);
    }
    .mat-select-arrow {
      color: opacify($text-on-primary-bg, 0.7);
    }
  }
}

md-tooltip-component {
  text-align: center;
  font-size: 14px;
  .mat-tooltip {
    padding: 5px 10px;
  }
}

@media screen and (max-width: 960px) {
  md-toolbar .mat-select-trigger {
    .mat-select-placeholder.mat-floating-placeholder {
      top: -14px !important;
    }
  }
}

.btn-circle {
  $btn_height: 20px;

  padding: 0;
  width: $btn_height;
  min-width: $btn_height;
  border: 1px solid transparent;
  border-radius: 50%;
}

.presentation-group-item > div {
  width: 100%;
  justify-content: space-between;

  md-select .mat-select-trigger {
    min-width: 50px;
  }
}

@import "css-loader";
@import "scrollbar";
@import "layout_utils";

