/** Night mode */
body {
  margin: 0;
  padding: 0; }

app-root {
  display: block;
  height: 100vh; }
  app-root .mat-sidenav-container {
    height: 100vh; }

[color="primary"] .mat-select-value {
  color: #fff; }
[color="primary"] .mat-select-trigger {
  color: #fff; }
[color="primary"] .mat-select-arrow {
  color: white; }
[color="primary"] .mat-select-underline {
  background-color: #fff; }
[color="primary"] .mat-select:focus:not(.mat-select-disabled) .mat-select-trigger {
  color: #fff; }
[color="primary"] .mat-select:focus:not(.mat-select-disabled) .mat-select-underline {
  background-color: white; }
[color="primary"] .mat-select:focus:not(.mat-select-disabled) .mat-select-arrow {
  color: white; }

md-tooltip-component {
  text-align: center;
  font-size: 14px; }
  md-tooltip-component .mat-tooltip {
    padding: 5px 10px; }

@media screen and (max-width: 960px) {
  md-toolbar .mat-select-trigger .mat-select-placeholder.mat-floating-placeholder {
    top: -14px !important; } }
.btn-circle {
  padding: 0;
  width: 20px;
  min-width: 20px;
  border: 1px solid transparent;
  border-radius: 50%; }

.presentation-group-item > div {
  width: 100%;
  justify-content: space-between; }
  .presentation-group-item > div md-select .mat-select-trigger {
    min-width: 50px; }

/** Night mode */
body {
  transition: all .5s ease-in-out; }
  body .cs-loader {
    transition: opacity .5s ease-in-out;
    background: #2196f3;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0; }
    body .cs-loader .cs-loader-icon {
      position: absolute;
      top: 50%;
      margin-top: -160px;
      width: 100%;
      text-align: center; }
      body .cs-loader .cs-loader-icon img {
        height: 150px; }
    body .cs-loader .cs-loader-inner {
      transform: translateY(-50%);
      top: 50%;
      position: absolute;
      width: calc(100% - 200px);
      color: #FFF;
      padding: 0 100px;
      text-align: center; }
    body .cs-loader .cs-loader-inner label {
      font-size: 20px;
      opacity: 0;
      display: inline-block; }
@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px); }
  33% {
    opacity: 1;
    transform: translateX(0px); }
  66% {
    opacity: 1;
    transform: translateX(0px); }
  100% {
    opacity: 0;
    transform: translateX(300px); } }
@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px); }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px); }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px); } }
    body .cs-loader .cs-loader-inner label:nth-child(6) {
      -webkit-animation: lol 3s infinite ease-in-out;
      animation: lol 3s infinite ease-in-out; }
    body .cs-loader .cs-loader-inner label:nth-child(5) {
      -webkit-animation: lol 3s 100ms infinite ease-in-out;
      animation: lol 3s 100ms infinite ease-in-out; }
    body .cs-loader .cs-loader-inner label:nth-child(4) {
      -webkit-animation: lol 3s 200ms infinite ease-in-out;
      animation: lol 3s 200ms infinite ease-in-out; }
    body .cs-loader .cs-loader-inner label:nth-child(3) {
      -webkit-animation: lol 3s 300ms infinite ease-in-out;
      animation: lol 3s 300ms infinite ease-in-out; }
    body .cs-loader .cs-loader-inner label:nth-child(2) {
      -webkit-animation: lol 3s 400ms infinite ease-in-out;
      animation: lol 3s 400ms infinite ease-in-out; }
    body .cs-loader .cs-loader-inner label:nth-child(1) {
      -webkit-animation: lol 3s 500ms infinite ease-in-out;
      animation: lol 3s 500ms infinite ease-in-out; }

body.loader .cs-loader {
  opacity: 1; }

/** Night mode */
/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px; }

/* Track */
::-webkit-scrollbar-track {
  background: #E6E6E6; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2196f3; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #2196f3; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text-center {
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
