@mixin transition($prop, $timeAndType) {
  -webkit-transition: $prop $timeAndType;
  -moz-transition: $prop $timeAndType;
  -ms-transition: $prop $timeAndType;
  -o-transition: $prop $timeAndType;
  transition: $prop $timeAndType;
}

@mixin box-shadow-inset($hoff, $voff, $blur, $color) {
  -webkit-box-shadow: inset $hoff $voff $blur $color;
  -moz-box-shadow: inset $hoff $voff $blur $color;
  box-shadow: inset $hoff $voff $blur $color;
}

@mixin box-shadow($hoff, $voff, $blur, $color) {
  -webkit-box-shadow: $hoff $voff $blur $color;
  -moz-box-shadow: $hoff $voff $blur $color;
  box-shadow: $hoff $voff $blur $color;
}
