@import "../../../assets/scss/utils";

.song-title-wrapper {
  width: calc(100% - 100px);
}

.song-order-wrapper {
  width: calc(80px);
}

.sections {
  height: 60vh;
  overflow: auto;
  padding-right: 10px;
  margin-bottom: 10px;
}

.section {

  @include transition(opacity, 200ms ease-in-out);
  display: flex;
  align-items: stretch;

  quill-editor {
    display: flex;
    flex-direction: column;
  }

  mat-form-field {
    display: flex;
    margin-left: 10px;

    & > .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    &.font-size-input {
      display: block;
      width: 35px;
    }
  }
}

button.save-button {
  float: right;

  mat-icon {
    position: relative;
    top: -3px;
  }
}

button.add-button {
  padding-left: 0;
}

$btnHeight: 35px;
.btn-circle {
  padding: 0;
  width: $btnHeight;
  min-width: $btnHeight;
  border: 1px solid transparent;
  border-radius: 50%;
  height: $btnHeight;
  line-height: $btnHeight - 1px;
}

.sortable-ghost {
  opacity: 0.3;
}

.drag-handle {
  float: right;
  clear: right;
  cursor: move;
}
