<div *ngIf="song">
  <div>
    <mat-form-field class="song-order-wrapper">
      <input matInput type="number" [(ngModel)]="song.order" placeholder="Numer" />
    </mat-form-field>
    <mat-form-field class="song-title-wrapper">
      <input matInput type="text" [(ngModel)]="song.title" placeholder="Tytuł" />
    </mat-form-field>
  </div>

  <div class="sections" [sortablejs]="song.sections"
       [sortablejsOptions]="{ animation: 150, ghostClass: 'sortable-ghost', handle: '.drag-handle' }">
    <div *ngFor="let section of song.sections" class="section">
      <div class="d-flex">
        <quill-editor
          [(ngModel)]="section.text"
          placeholder="Tekst"></quill-editor>
        <div style="clear: both;"></div>
      </div>
      <mat-form-field>
                <textarea matInput
                          rows="7"
                          [(ngModel)]="section.chords"
                          placeholder="Akordy"
                          #chordsTextarea></textarea>
      </mat-form-field>

      <div class="drag-handle text-center">
        <button mat-button [matMenuTriggerFor]="moreOptionsMenu"
                class="btn-circle more-options-menu-button pull-right"
                matTooltip="Więcej opcji">
          <mat-icon>more_vert</mat-icon>
        </button>
        <div>
          <mat-icon matTooltip="Zmień kolejność">reorder</mat-icon>
        </div>
        <mat-form-field class="font-size-input">
          <input type="text" matInput [(ngModel)]="section.fontSize"
                 placeholder="Czczionka"
                 matTooltip="Wielkość czcionki (domyślnie 4vw)" />
        </mat-form-field>
      </div>
      <mat-menu #moreOptionsMenu="matMenu">
        <button mat-menu-item color="primary" class="remove-section-button" (click)="removeSection(section)"
                [disabled]="savingInProgress">
          <mat-icon>delete</mat-icon>
          Usuń
        </button>
        <button mat-menu-item color="primary" class="remove-section-button" (click)="duplicateSection(section)"
                [disabled]="savingInProgress">
          <mat-icon>content_copy</mat-icon>
          Powiel
        </button>
        <button mat-menu-item color="primary" class="remove-section-button" (click)="trimSection(section)"
                [disabled]="savingInProgress">
          <mat-icon>select_all</mat-icon>
          Usuń nadmiarowe spacje
        </button>
      </mat-menu>
    </div>
  </div>

  <div>
    <button mat-button color="primary" class="add-button" (click)="addNewSection()" [disabled]="savingInProgress">
      <mat-icon>queue</mat-icon>
      Dodaj slajd
    </button>
    <span *ngIf="message" class="message">
            {{ message }}
        </span>
    <button mat-button color="primary" class="save-button" (click)="close()" [disabled]="savingInProgress">
      Zamknij
    </button>
    <button mat-button color="primary" class="save-button" (click)="save()" [disabled]="savingInProgress">
      <mat-icon>save</mat-icon>
      Zapisz
    </button>
  </div>
  <mat-progress-bar *ngIf="savingInProgress"
                    class="example-margin"
                    color="primary"
                    mode="indeterminate">
  </mat-progress-bar>
</div>
