<div class="d-flex flex-dir-col flex-1">
  <div class="flex-1 images-list">

    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile *ngFor="let image of images" (click)="imageSelected(image)">
        <img [src]="resourceFileSystemService.getPathForResource(image.image)" [alt]="image.name" />
      </mat-grid-tile>
    </mat-grid-list>

  </div>
  <div class="buttons">
    <app-file-chooser (fileChosen)="createNewImages($event)" [multiple]="true">
      <mat-icon>add</mat-icon>
      Dodaj zdjęcia
    </app-file-chooser>
  </div>
</div>
