<div class="info-dialog-content">
    <h1>Elektroniczny Śpiewnik z ekranem zdalnym</h1>
    <h2>O aplikacji</h2>
    <p>
        Aplikacja służy do organizacji oraz wyświetlania tekstów utworów muzycznych na zdalnych ekranach.<br/>
        Dla systemu Tizen dostępna jest aplikacja na telewizory Samsung Smart TV, będąca jedynie ekranem zdalnym.
        Ta sama aplikacja dostępna jest również w&nbsp;postaci aplikacji internetowej działającej z poziomu
        przeglądarki.
        <br/>
        Aplikacja prezentera pozwala również na podstawową nawigację przy pomocy pilota bluetooth.
        Więcej informacji można uzyskać kontaktując się z autorem.
        <br/>
        <br/>
        Autor: Wojciech Paluch <a href="#" appMailtoLink emailAddress="wojciech.paluch1993@gmail.com">wojciech.paluch1993@gmail.com</a>
    </p>
    <hr/>
    <dl>
        <dt>Opis funkcjonalności aplikacji prezentera</dt>
        <dd>
            <h3>Przechowywanie bazy utworów</h3>
            <p>
                Utwory przechowywane są w&nbsp;wewnętrznej bazie indexeddb. W&nbsp;obecnej wersji aplikacji możliwy jest
                eksport całej zawartości do pliku, funkcję eksportu można odnaleźć klikając ikonę menu
                <mat-icon>more_vert</mat-icon>
                po prawej stronie paska narzędzni na głównym ekranie aplikacji. <br/>
                Aplikacja pozwala również na import utworów w&nbsp;formacie programu OpenSong: <a
                    href="http://www.opensong.org/home/file-formats">http://www.opensong.org/home/file-formats</a>,
                sekcja <i>FILE STRUCTURE</i>.
            </p>
        </dd>
        <dd>
            <h3>Organizacja utworów</h3>
            <p>
                Aplikacja pozwala na przechowywanie tekstów utworów muzycznych wraz z akordami, organizację ich
                w&nbsp;prezentacje. Cała biblioteka utworów dostępna jest po wciśnięciu przycisku menu
                <mat-icon>menu</mat-icon>
                na pasku narzędzi lub wciśnięcie klawisza <span class="keycode">` / ~</span> na klawiaturze.
                Wyszukiwarka pozwala na odnalezienie utworu wg nadanego numeru lub fragmentu tytułu.<br/>
            </p>
            <h3>Struktura utworów</h3>
            <p>
                Każdy utwór składa się ze slajdów, tekst na slajdach wyświetlany jest w&nbsp;dokładnie takiej samej
                postaci w&nbsp;jakiej został wpisany (z zachowaniem podziału wersów, tekst nie jest zawijany).<br/>
                Do każdego slajdu można dopisać dźwięki (np. gitarowe), które wpisywane są wprost w&nbsp;postaci nazw
                akordów. Akordy wyświetlają się równolegle do każdego wiersza tekstu, tzn. pierwszej linii tekstu na
                slajdzie odpowiada pierwsza linia akordów i odpowiednio dla kolejnych.<br/>
                <b>Identyfikacja utworów</b><br/>
                Utwory identyfikowane są przy pomocy UUID generowanego w&nbsp;momencie tworzenia utworu. Dzięki temu
                w&nbsp;bezpieczny sposób można eksportować utwory i prezentacje, a ich zawartość zostanie zachowana
                w&nbsp;momencie importu. Jednocześnie eksport utworu, następnie jego zmiana lokalna i import spowoduje
                nadpisanie aktualnej wersji wersją zawartą w&nbsp;pliku z którego utwór jest importowany - należy mieć
                to na uwadze.
            </p>
            <h3>Prezentacje</h3>
            <p>
                Uwtory można organizować w&nbsp;prezentacje - zestawienie kolejnych utworów w&nbsp;odpowiednich
                tonacjach.
                Prezentacje zawierają jedynie odnośniki do utworów, więc usunięcie prezentacji nie powoduje usunięcia
                zawartych w&nbsp;niej utworów. <br/>
                Kolejność utworów na liście można zmieniać przeciągając utwory łapiąc za uchwyt
                <mat-icon>reorder</mat-icon>
                .<br/>
            </p>
        </dd>
        <dt>Komunikacja</dt>
        <dd>
            <h3>Serwer slajdów</h3>
            <p>Dostępny na ekranie głównym przełącznik "Serwer" uruchamia serwowanie slajdów w&nbsp;sieci lokalnej,
                domyślny
                port to <b>10100</b>.
            </p>
        </dd>
        <dd>
            <h3>Bluetooth</h3>
            <p>
                Aplikacja posiada obsługę kontrolera komunikującego się przez Bluetooth. Najpierw należy włączyć pilot,
                a następnie uruchomić serwer bluetooth klikając ikonę
                <mat-icon>bluetooth_disabled</mat-icon>
                na pasku narzędzi. Ikona
                <mat-icon>bluetooth_connected</mat-icon>
                oznacza działającą komunikację z kontrolerem.
            </p>
        </dd>
        <dt>Nawigacja przy pomocy klawiatury</dt>
        <dd>
            <ul>
                <li>
                    <span class="keycode">` ~</span> Wysunięcie / ukrycie paska wyszukiwania utworów.
                </li>
                <li>
                    <span class="keycode">Spacja</span>
                    <span class="keycode">-&gt;</span> Przejście do kolejnego slajdu
                </li>
                <li>
                    <span class="keycode">&lt;-</span> Przejście do poprzedniego slajdu
                </li>
                <li>
                    <span class="keycode">&lt;,</span> Przejście do poprzedniego utworu prezentacji
                </li>
                <li>
                    <span class="keycode">&gt;,</span> Przejście do kolejnego utworu prezentacji
                </li>
                <li>
                    <span class="keycode">A</span> Przełączenie widoczności akordów na ekranie prezentera
                </li>
                <li>
                    <span class="keycode">B</span> Przełączenie widoczności tekstu na ekranach zdalnych
                </li>
                <li>
                    <span class="keycode">P</span> Przełączenie widoku pełnoekranowego
                </li>
            </ul>
        </dd>
        <dt>Aplikacja ekranu zdalnego na telewizory Samsung Smart TV</dt>
        <dd>
            <h3>Opis</h3>
            <p>
                Aplikacja wyświetla utwory serwowane przez aplikację prezentera.<br/>
            </p>
            <h3>Konfiguracja</h3>
            <p>
                Aplikację ekranu zdalnego należy poprawnie skonfigurować w&nbsp;celu uzyskania działającej komunikacji
                z&nbsp;aplikacją prezentera.<br/>
                Zarówno telewizor jak i urządzenie prezentera powinny być podłączone do jednej sieci lokalnej.<br/>
                Konfiguracja polega na ustawieniu odpowiedniego adresu IP urządzenia prezentera w&nbsp;aplikacji ekranu
                zdalnego oraz portu na którym działa serwer.<br/>
                W&nbsp;celu zmiany tych ustawień należy wcisnąć klawisz <span class="keycode">0</span> lub przycisk
                <span class="keycode">Info</span>.
                W&nbsp;pojawiających się okienkach należy wpisać adres IP urządzenia z aplikacją prezentera oraz port
                (domyślnie <b>10100</b>). Po zmianie konfiguracji nastąpi próba połączenia się z serwerem przy użyciu
                nowo wprowadzonych ustawień.
                <br/>
                <br/>
                Przycisk <span class="keycode">9</span> lub <span class="keycode">Return</span> można uruchomić ponowne
                połączenie się z serwerem w&nbsp;przypadku błednej konfiguracji lub zerwanego połączenia.
                <br/>
                <br/>
                Przycisk <span class="keycode">1</span> lub <span class="keycode">Extra</span> pozwala na zmianę
                kolorystyki wyświetlacza - biały tekst na czarnym tle lub czarny tekst na białym tle.
            </p>
        </dd>
    </dl>
    <p class="text-center">
        Więcej informacji można uzyskać kontaktując się z autorem: Wojciech Paluch
        <a href="#" appMailtoLink emailAddress="wojciech.paluch1993@gmail.com">wojciech.paluch1993@gmail.com</a>.
    </p>
</div>


<div class="buttons-list">
    <button mat-button color="primary" class="ok-button" (click)="okClicked()">
        Ok
    </button>
</div>
