@import "../../../../assets/scss/colors";

:host {

  .info-dialog-content {
    padding-right: 10px;
    max-height: 80vh;
    overflow: auto;
    text-align: justify;
  }

  .buttons-list {
    margin-top: 20px;
    text-align: center;
  }

  .keycode {
    border: 1px solid $primaryColor;
    border-radius: 5px;
    padding: 3px 5px;
  }

  p .mat-icon {
    position: relative;
    top: 5px;
  }

  dl {
    dt {
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    li {
      list-style: none;
      line-height: 30px;
    }
  }

}
