<div>
    <input type="file" (change)="fileChanged($event)" #fileInput [accept]="acceptedMimeTypes"
           [attr.multiple]="multiple ? 'multiple' : null">
    <button mat-button color="primary" class="add-button" (click)="fileInput.click()">
        <ng-content></ng-content>
    </button>
</div>
