<div class="flex-row">
    <button mat-button
            [matTooltip]="'Bluetooth: ' + serverStatesPl[serverState]"
            (click)="toggleServerIsRunning()"
            class="toolbar-btn-circle toggle-button"
            [class.checked]="serverIsRunning"
            [ngSwitch]="serverState">
        <mat-icon *ngSwitchCase="'disconnected'">bluetooth_disabled</mat-icon>
        <mat-icon *ngSwitchCase="'connecting'">bluetooth_searching</mat-icon>
        <mat-icon *ngSwitchCase="'connected'">bluetooth_connected</mat-icon>
        <mat-icon *ngSwitchCase="'error'">bluetooth_disabled</mat-icon>
    </button>
</div>
