:host {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  $topbarBtnHeight: 50px;
  .toolbar-btn-circle {
    padding: 0;
    width: $topbarBtnHeight;
    min-width: $topbarBtnHeight;
    border: 1px solid transparent;
    border-radius: 50%;
    height: $topbarBtnHeight;
    line-height: $topbarBtnHeight - 1px;

    & + span {
      margin-left: 15px;
    }
  }

  .toggle-button:not(.checked) {
    color: rgba(0, 0, 0, 0.3);
  }

}
