<div
  *ngIf="currentImage"
  class="d-flex flex-1"
>
  <img [src]="fileSystem.getPathForResource(currentImage.image)" [alt]="currentImage.name"
       class="slide--image flex-1" />
</div>
<div
  *ngIf="currentSong"
  class="d-flex justify-content-stretch flex-1"
>
  <app-slide-show
    class="flex-1 slide-show--split"
    *ngIf="!splitMode"
    #slideShow
    [song]="currentSong"
    [chordsVisible]="chordsVisible"
  ></app-slide-show>

  <app-slide-show-split
    class="flex-1 slide-show--split"
    #slideShowSplit
    *ngIf="splitMode"
    [song]="currentSong"
    [chordsVisible]="chordsVisible"
  ></app-slide-show-split>
</div>
