<div>
    <app-file-chooser (fileChosen)="fileChosen($event)" [acceptedMimeTypes]="'.json'">
        <mat-icon>insert drive file</mat-icon>
        Importuj
    </app-file-chooser>
    <button mat-button (click)="exportDbToFile()">
        <mat-icon>save</mat-icon>
        Eksportuj bazę
    </button>
</div>

<mat-progress-bar *ngIf="isWorking" mode="indeterminate"></mat-progress-bar>

