<mat-toolbar>
    <button mat-button (click)="setPresListMode()" class="toolbar-btn-circle" *ngIf="state=='pres_nav'">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span *ngIf="state=='pres_list'">Lista prezentacji</span>
    <span *ngIf="state=='pres_nav'">{{ currentPresentation.name }}</span>
    <button mat-button class="btn-circle add-button" *ngIf="state=='pres_list'" (click)="newPresentation()"
            matTooltip="Dodaj prezentację">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-button class="btn-circle add-button" *ngIf="state!='pres_list' && currentPresentation"
            [matMenuTriggerFor]="moreOptionsMenu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #moreOptionsMenu="matMenu">
        <button mat-menu-item
                (click)="editPresentation(currentPresentation)"
                *ngIf="currentPresentation">
            <mat-icon>mode_edit</mat-icon>
            Edytuj
        </button>
        <button mat-menu-item
                (click)="deletePresentation(currentPresentation)"
                *ngIf="currentPresentation">
            <mat-icon>delete_forever</mat-icon>
            Usuń
        </button>
    </mat-menu>

</mat-toolbar>

<div class="presentations-toolbar-content">
    <app-presentations-list
            (setPresentation)="setCurrentPresentation($event)"
            *ngIf="state=='pres_list'"
            #presentationList></app-presentations-list>

    <app-presentation-navigation [presentation]="currentPresentation" *ngIf="state=='pres_nav'"
                                 #presentationPreview
                                 (setSlideGroup)="changeSlideGroup($event)"></app-presentation-navigation>
</div>
<app-clock></app-clock>

