@import "../../../assets/scss/utils";
@import "../../../assets/scss/colors";

:host {
  background: $presenter-sidebar-background;
  display: flex;
  flex-direction: column;

  &.hidden {
    display: none;
  }

  .presentations-toolbar-content {
    flex: 1;
    overflow-y: auto;
  }

  mat-toolbar {
    background: transparent;
    color: $presenter-sidebar-text-color;
    justify-content: space-between;

    button.toolbar-btn-circle {
      min-width: 40px;
      border: 1px transparent solid;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }

    span {
      white-space: normal;
      flex: 1;
    }

  }

  .add-button {
    float: right;
  }

  $addSongButtonSize: 20px;
  .btn-circle {
    padding: 0;
    width: $addSongButtonSize;
    min-width: $addSongButtonSize;
    border: 1px solid transparent;
    border-radius: 50%;
    height: $addSongButtonSize;
    line-height: $addSongButtonSize;
  }

  app-clock {
    font-size: 120px;
    text-align: center;
  }

}
