<mat-sidenav-container [class.nightMode]="nightModeEnabled" [class.presentationNavMode]="presentationNavMode">
  <mat-sidenav #sidenav mode="over" class="song-list-sidenav">
    <app-songs-list [currentSong]="currentSong" (currentSongChange)="sidenav.close(); setCurrentSongFromSidebar($event)"
                    #songsList></app-songs-list>
  </mat-sidenav>
  <mat-toolbar color="primary" [class.hidden]="displayMode != 'songbook'">
    <button mat-button (click)="sidenav.open()" class="toolbar-btn-circle">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="app-title">
      <img src="./assets/img/logo_fill.png" alt="Śpiewnik">
      Śpiewnik Ducha
    </span>

    <div class="right-box">
      <button mat-button
              [matMenuTriggerFor]="moreOptionsMenu"
              matTooltip="Więcej opcji"
              class="toolbar-btn-circle more-options-menu-button">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #moreOptionsMenu="matMenu">
        <button mat-menu-item (click)="editCurrentSong()" *ngIf="currentSong">
          <mat-icon>mode_edit</mat-icon>
          Edytuj
        </button>
        <button mat-menu-item (click)="createNewSong()">
          <mat-icon>queue</mat-icon>
          Nowy utwór
        </button>
        <button mat-menu-item (click)="deleteSong()" *ngIf="currentSong">
          <mat-icon>delete_forever</mat-icon>
          Usuń utwór
        </button>
        <button mat-menu-item (click)="openImportExportDialog()">
          <mat-icon>import_export</mat-icon>
          Import/eksport bazy
        </button>
        <button mat-menu-item (click)="openAboutDialog()">
          <mat-icon>info</mat-icon>
          O aplikacji
        </button>
      </mat-menu>

      <button mat-button
              matTooltip="Tryb prezentera"
              (click)="togglePresentationMode()"
              class="toolbar-btn-circle toggle-button"
              [class.checked]="presentationNavMode">
        <mat-icon>slideshow</mat-icon>
      </button>

      <button mat-button
              matTooltip="Widoczność na pozostałych ekranach"
              (click)="toggleSlidesVisibility()"
              class="toolbar-btn-circle toggle-button"
              [class.checked]="slidesVisible">
        <mat-icon *ngIf="slidesVisible" color="accent">visibility</mat-icon>
        <mat-icon *ngIf="!slidesVisible">visibility_off</mat-icon>
      </button>

      <button mat-button
              matTooltip="Widok dzielonych slajdów"
              (click)="toggleSplitMode()"
              class="toolbar-btn-circle toggle-button"
              [class.checked]="splitMode">
        <mat-icon *ngIf="splitMode" color="accent">view_agenda</mat-icon>
        <mat-icon *ngIf="!splitMode">view_day</mat-icon>
      </button>

      <button mat-button
              matTooltip="Synchronizacja prezentera z ekranami"
              (click)="toggleSync()"
              class="toolbar-btn-circle toggle-button"
              [class.checked]="syncEnabled">
        <mat-icon *ngIf="syncEnabled" color="accent">sync</mat-icon>
        <mat-icon *ngIf="!syncEnabled">sync_disabled</mat-icon>
      </button>

      <button mat-button
              matTooltip="Tryb nocny"
              (click)="toggleNightMode()"
              class="toolbar-btn-circle toggle-button"
              [class.checked]="!nightModeEnabled">
        <mat-icon *ngIf="!nightModeEnabled">brightness_5</mat-icon>
        <mat-icon *ngIf="nightModeEnabled">brightness_3</mat-icon>
      </button>

      <mat-slide-toggle [(ngModel)]="chordsVisible" #chordsVisibleToggle>Akordy</mat-slide-toggle>
      <mat-select placeholder="Tonacja"
                  ngDefaultControl
                  [(ngModel)]="keyTone"
                  color="background"
                  [disabled]="!keyTone"
      >
        <mat-option *ngFor="let tone of toneScale" [value]="tone.replace('#','i')">
          {{ tone }}
        </mat-option>
      </mat-select>

      <app-resource-server-toolbar-indicator></app-resource-server-toolbar-indicator>
      <app-server-toolbar-indicator></app-server-toolbar-indicator>
      <app-bluetooth-server-toolbar-indicator #bluetoothServerIndicator></app-bluetooth-server-toolbar-indicator>
      <app-external-display-button></app-external-display-button>
      <app-images-library-open-button></app-images-library-open-button>
    </div>
  </mat-toolbar>

  <div class="main-content">
    <app-presenter-sidebar [class.hidden]="!(presentationNavMode && _displayMode == 'songbook')"
                           #presentationPresenterSidebar
                           (currentSlideGroupChange)="currentSlideGroup=$event;"></app-presenter-sidebar>

    <!--        <app-slide-show-->
    <!--                #slideShow-->
    <!--                [song]="currentSong"-->
    <!--                class="slide-show"-->
    <!--                [class.pres-mode]="presentationNavMode && displayMode == 'songbook'"-->
    <!--                [class.hidden]="!slidesVisible && displayMode == 'slideshow'"-->
    <!--                [chordsVisible]="chordsVisible"-->
    <!--        ></app-slide-show>-->

    <app-slide-show-slide-group-live-preview
      #slideShow
      class="slide-show"
      [slideGroup]="currentSlideGroup"
      [class.pres-mode]="presentationNavMode && displayMode == 'songbook'"
      [class.hidden]="!slidesVisible && displayMode == 'slideshow'"
      [chordsVisible]="chordsVisible"
      [splitMode]="splitMode"
    ></app-slide-show-slide-group-live-preview>

<!--    <app-slide-show-split-->
<!--      #slideShow-->
<!--      [song]="currentSong"-->
<!--      class="slide-show"-->
<!--      [class.pres-mode]="presentationNavMode && displayMode == 'songbook'"-->
<!--      [class.hidden]="!slidesVisible && displayMode == 'slideshow'"-->
<!--      [chordsVisible]="chordsVisible"-->
<!--    ></app-slide-show-split>-->
  </div>

</mat-sidenav-container>
