@import "../assets/scss/utils";
@import "../assets/scss/colors";

:host {
  min-width: 880px;
  min-height: 400px;
}

h1 {
  color: #dedede;
}

$topbarHeight: 65px;

.app-title {
  position: relative;
  padding-left: 50px;

  img {
    position: absolute;
    height: 40px;
    left: 0;
    top: 50%;
    margin-top: -20px;
  }
}

.slide-show {
  display: flex;
  align-items: stretch;
  justify-content: stretch;

  font-size: 4vw;
}

$topbarBtnHeight: 50px;
mat-toolbar {
  z-index: 9999;
  position: relative;
  margin-top: 0;
  @include box-shadow(0px, 1px, 8px, $shadow-color);
  @include transition(all, 200ms ease-in-out);
  font-size: 20px;
  font-weight: 500;

  .toolbar-btn-circle {
    padding: 0;
    width: $topbarBtnHeight;
    min-width: $topbarBtnHeight;
    border: 1px solid transparent;
    border-radius: 50%;
    height: $topbarBtnHeight;
    line-height: $topbarBtnHeight - 1px;

    & + span {
      margin-left: 15px;
    }

  }

  .right-box {
    position: absolute;
    right: 15px;
    top: 5px;
    display: flex;
    flex-direction: row-reverse;

    mat-select {
      position: relative;
      top: 12px;
      font-size: 16px;
      margin: 0 5px;
      @include transition(opacity, 0.2s ease-in-out);
    }

    mat-slide-toggle {
      display: flex;
      margin: 16px 10px;
      font-size: 14px;
    }

    .mat-select-trigger {
      .mat-select-placeholder.mat-floating-placeholder {
        top: -14px !important;
      }
    }
  }

  &.hidden {
    margin-top: -100px;
    margin-bottom: 35px;
  }
}

app-slide-show {
  opacity: 1;
  @include transition(all, 0.2s ease-in-out);

  .slide-content .slide-chords {
    display: none;
  }

  &.chordsVisible {
    .slide-content {
      .slide-chords {
        display: block;
      }
    }
  }

  &.hidden {
    opacity: 0;
  }
}

mat-select {
  .mat-select-value {
    max-width: fit-content;
  }
}

.toggle-button {
  &:not(.checked) {
    color: rgba(0, 0, 0, 0.3);
  }
}

mat-sidenav-container {
  flex: 1;
  color: $light-mode-fg;
  background-color: $light-mode-bg;
  @include transition(all, 0.5s ease-in-out);

  &.nightMode {
    color: $night-mode-fg;
    background-color: $night-mode-bg;
  }
}

:host {

  .main-content {
    display: flex;
    position: relative;
    transition: all .2s linear;
    height: calc(100% - #{$topbarHeight});

    .slide-show {
      @include transition(all, 0.25s ease-in-out);
      width: 100%;
      flex: 1;

      &.pres-mode {
        width: calc(100% - 320px);

        .slide-content {
          .slide-text, .slide-chords {
            font-size: calc(0.04 * (100vw - 400px)) !important;
          }

          &.chords-visible {
            .slide-text, .slide-chords {
              font-size: calc(0.03 * (100vw - #{$presenter-sidebar-width})) !important;
            }
          }
        }
      }
    }

    app-presenter-sidebar {
      @include transition(all, 0.25s ease-in-out);
      width: 320px;
      overflow-y: auto;
    }
  }

  mat-toolbar.hidden ~ .main-content {
    height: 100%;

    .slide-show--split {
      padding-top: 0;
    }
  }
}
