:host {
  display: flex;
  justify-content: center;
  align-items: center;

  $topbarBtnHeight: 50px;
  .toolbar-btn-circle {
    padding: 0;
    width: $topbarBtnHeight;
    min-width: $topbarBtnHeight;
    border: 1px solid transparent;
    border-radius: 50%;
    height: $topbarBtnHeight;
    line-height: $topbarBtnHeight - 1px;

    & + span {
      margin-left: 15px;
    }
  }

  .mat-button {
  }
}
