<button mat-button
        [matTooltip]="'Otwórz zewnętrzny ekran'"
        (click)="openExternalWindow()"
        class="toolbar-btn-circle toggle-button">
  <mat-icon>open_in_new</mat-icon>
</button>
