<p>
    {{ question }}
</p>

<div class="buttons-list">
    <button mat-button class="cancel-button" (click)="cancelClicked()">
        Anuluj
    </button>
    <button mat-button color="primary" class="ok-button" (click)="okClicked()">
        Ok
    </button>
</div>
