@import "../../../assets/scss/utils";
@import "../../../assets/scss/colors";

:host {
  overflow: hidden;
  position: relative;
  //padding-top: 50px;
  padding-top: 0;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;

  .song-title {
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    background: $presenter-sidebar-background;
    opacity: 0;
    display: none;
    transition: all .2s ease-in-out;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.75);
    color: $presenter-sidebar-text-color;
  }

  .pres-mode & {
    width: calc(100% - #{$presenter-sidebar-width});
    padding-top: 0;

    .slide-content {
      .slide-text, .slide-chords {
        font-size: calc(0.04 * (100vw - #{$presenter-sidebar-width})) !important;
      }

      &.chords-visible {
        .slide-text, .slide-chords {
          font-size: calc(0.035 * (100vw - #{$presenter-sidebar-width})) !important;
        }
      }
    }

    mat-progress-bar {
      opacity: 1;
    }

    .song-title {
      opacity: 1;
      display: block;

      &.hidden {
        opacity: 0;
      }
    }
  }

  .slides {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    flex: 1;

    .el {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:first-child {
        margin-bottom: 15px;
      }

      &:not(:first-child) {
        margin-top: 15px;
      }
    }
  }

  .slide-content {
    display: flex;
    align-items: center;
    align-content: flex-start;
    overflow: hidden;
    position: relative;
    height: 100%;

    .slide-text, .slide-chords {
      white-space: pre;
      font-size: 4.5vw;
      font-family: Calibri, sans-serif;
      font-weight: bold;
      @include transition(all, 200ms ease-in-out);
      @include transition(font-size, 50ms ease-in-out);
    }

    &.shaded {
      opacity: 0.5;
    }

    &.chords-visible {
      .slide-text, .slide-chords {
        font-size: 3.5vw;
        width: auto;
        opacity: 1;
      }

      .slide-chords {
        display: block;
      }
    }

    .slide-chords {
      padding-left: 20px;
      margin-left: 20px;
      border-left: #c0c0c0 2px double;
      opacity: 0;
      color: #c0c0c0;
      width: 0;
      overflow: hidden;
      display: none;
    }
  }

  mat-progress-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 1;
    height: 10px;
  }


  .mat-progress-bar-buffer {
    background-color: #303030;
  }

}
