<div class="song-title" [class.hidden]="!song">
  {{ song ? (song.order != 0 ? song.order + '. ' : '') + song.title : ''}}
</div>

<div class="slides" *ngIf="song">
  <div class="el" *ngIf="topSection">
    <div class="slide-content"
         [class.chords-visible]="chordsVisible"
         [class.shaded]="currentSectionIndex != topSecIndex"
    >
      <div class="slide-text"
           [ngStyle]="{'font-size': chordsVisible ? null : topSection.fontSize }"
           [innerHTML]="topSectionHtml"></div>
      <div class="slide-chords">{{ topSection.chords }}</div>
    </div>
  </div>
  <div class="el" *ngIf="bottomSection">
    <div class="slide-content"
         [class.chords-visible]="chordsVisible"
         [class.shaded]="currentSectionIndex != bottomSecIndex"
    >
      <div class="slide-text"
           [ngStyle]="{'font-size': chordsVisible ? null : topSection.fontSize }"
           [innerHTML]="bottomSectionHtml"
      ></div>
      <div class="slide-chords">{{ bottomSection.chords }}</div>
    </div>
  </div>
</div>

<mat-progress-bar
  *ngIf="song && (topSection||bottomSection)"
  color="primary"
  mode="determinate"
  [value]="song ? 100*(currentSectionIndex+1)/song.sections.length : 0"
  [bufferValue]="100">
</mat-progress-bar>
