$primaryColor: #2196f3;

$shadow-color: #606060;

$text-on-primary-bg: #fff;

$light-bg: #fff;

$hover-primary-bg: rgba(0, 0, 0, 0.2);


$light-mode-bg: #fff;
$light-mode-fg: #000;

/** Night mode */
$night-mode-bg: #000;
$night-mode-fg: #d0d0d0;


$presenter-sidebar-width: 320px;
$presenter-sidebar-background: #111;
$presenter-sidebar-text-color: #d0d0d0;


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-electron-primary: mat-palette($mat-blue);
$angular-electron-accent: mat-palette($mat-amber, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-electron-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angular-electron-theme: mat-light-theme($angular-electron-primary, $angular-electron-accent, $angular-electron-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-electron-theme);

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: stretch;

  app-root {
    display: flex;
    flex: 1;
    justify-content: stretch;

    mat-drawer-container {
      flex: 1;
    }
  }
}

.mat-toolbar {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0 16px;
  flex-direction: column;
  min-height: 64px;

  img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    object-position: center;
  }

  .mat-select-value {
    max-width: fit-content;
  }
}

.mat-input-placeholder {
  &.mat-float {
    &.mat-focused,
    &:not(.mat-empty) {
      color: $primaryColor;
    }
  }
}

mat-select {
  .mat-select-value {
    max-width: fit-content;
  }
}

a {
  color: $primaryColor;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.flex-1 {
  flex: 1;
}

.flex-dir-col {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-stretch {
  justify-content: stretch;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-start;
}

.align-content-center {
  align-content: center;
}

.align-items-center {
  align-items: center;
}

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';


.slide-content {
  &.images-cover {
    img {
      object-fit: cover;
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
  }

  p {
    margin-top: 0;
  }
}
