
:host {
  height: 80vh !important;
  display: flex;
  width: 900px;

  mat-tab-group {
    width: 50%;
  }

  .right {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;

    mat-list.presentationEditorList {
      width: 100%;
      max-height: calc(100% - 120px);
      overflow-y: auto;

      mat-list-item {
        display: flex;
        position: relative;
        & > .mat-list-item-content {
          width: 100%;
          justify-content: space-between;
        }

        .list-item-right {
          display: inline-flex;
          flex-direction: row;

          .mat-select-trigger {
            min-width: 60px;
          }

        }
      }
    }

    .reorder-handle {
      padding: 5px;
      cursor: move;
    }

    .drag-handle {
      & > button {
        padding: 0;
        min-width: 30px;
        width: 30px;
      }
    }

  }

  .sortable-ghost {
    opacity: 0.3;
  }

  .md-row {
    padding-left: 15px;
    padding-right: 15px;
  }

  .full-width-input-wrapper {
    width: 100%;
  }

}
