<mat-tab-group>
  <mat-tab label="Pieśni">
    <app-songs-list (addSong)="addSong($event)" [enableAddMode]="true"></app-songs-list>
  </mat-tab>
  <mat-tab label="Obrazy">
    <app-images-library (addImage)="addImage($event)"></app-images-library>
  </mat-tab>
</mat-tab-group>


<div class="right">
  <div class="md-row">
    <mat-form-field class="full-width-input-wrapper">
      <input matInput type="text" [(ngModel)]="presentation.name" placeholder="Tytuł prezentacji" />
    </mat-form-field>
  </div>

  <mat-list class="presentationEditorList" [sortablejs]="presentation.slideGroups"
            [sortablejsOptions]="{ animation: 150, ghostClass: 'sortable-ghost', handle: '.drag-handle' }">
    <mat-list-item *ngFor="let s of presentation.slideGroups" class="presentation-group-item">
            <span>
                {{s.order ? s.order + '. ' : ''}}{{ s.name }}
            </span>

      <div class="list-item-right">
        <mat-select
          class="key-select"
          *ngIf="s.keyTone"
          [(ngModel)]="s.keyTone"
          color="background"
          [disabled]="!s.keyTone">
          <mat-option
            *ngFor="let tone of (s.keyTone ? s.keyTone.toString()[0].toUpperCase() == s.keyTone.toString()[0] ? durTonation : molTonation : [])"
            [value]="tone">
            {{ tone }}
          </mat-option>
        </mat-select>
        <div class="drag-handle text-center">
          <mat-icon class="reorder-handle" matTooltip="Zmień kolejność">reorder</mat-icon>
        </div>
        <button mat-button [matMenuTriggerFor]="moreOptionsMenu"
                class="btn-circle more-options-menu-button pull-right"
                matTooltip="Więcej opcji">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #moreOptionsMenu="matMenu">
          <button mat-button color="primary" class="remove-section-button" (click)="removeSlidesGroup(s)"
                  [disabled]="savingInProgress">
            <mat-icon>delete</mat-icon>
            Usuń
          </button>
        </mat-menu>
      </div>
    </mat-list-item>
  </mat-list>

  <div class="text-center">
        <span *ngIf="message" class="message">
            {{ message }}
        </span>
    <button mat-button color="primary" class="save-button" (click)="close()" [disabled]="savingInProgress">
      Zamknij
    </button>
    <button mat-button color="primary" class="save-button" (click)="save()" [disabled]="savingInProgress">
      <mat-icon>save</mat-icon>
      Zapisz
    </button>
  </div>
  <mat-progress-bar *ngIf="savingInProgress"
                    class="example-margin"
                    color="primary"
                    mode="indeterminate">
  </mat-progress-bar>
</div>
